body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    
}


.container {
    text-align: center;
    display: flexbox;
    flex-direction: column;
}

textarea {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    padding: 10px;
}
